[package]
name = "rs_infra_helpers"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
